<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="front-tools/css/style.css">
    <link rel="shortcut icon" href="front-tools/images/favicon.png" >
    <script type="module" src="scripts/script.js" defer></script>
    <title>Bomberman</title>
</head>
<body>
    <div id="pauseContainer">
        <span class='start-btn' id="CONTINUE">CONTINUE</span>
        <span class='start-btn' id="RESTART">RESTART</span>
        <span class='start-btn' id="EXIT">EXIT</span>
    </div>
    <div class="stats">
        <div class="score">
            <span></span>
        </div>
        <div class="timer">
            <span></span>
        </div>
        <div class="lives">
        </div>
    </div>
    <div class="grid" id="grid"></div>
</body>
</html>