*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    filter: blur(25);
}
.grid {
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    align-items: center;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(15, 40px);
}

.cell {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.wall {
    background-color: #6e6969;
}

.empty {
    background-color: green;
}
