body{
    margin: 0;
    padding: 0;
    background-image: url("ressources/wallpaper.jpg");
    background-size: cover; /* Pour ajuster la taille de l'image à l'écran */
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    
}

/*
@media screen and (max-width: 768px) {
    body {
        background-size: contain; 
    }
}*/