<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gameover.css">
    <title>Game Over</title>
</head>
<body>
    <div class="App">
        <h1 class="lost">GAME OVER</h1>
        <h1 id="more">Your score is <a id="score">555</a> </h1>
        <h1 id="more">Want to do better? <a id="restart" href="index.html">RESTART</a></h1>
        <h1 id="more">Or give up? <a id="exit" href="homepage.html">EXIT</a></h1>
       <!--  <div class="container">
          <h2 class="note">You lose</h2>
          <section>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
            <div class='blooddrop'></div>
          </section>
        </div> -->
      </div></body>
</html>