<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="front-tools/css/style.css">
    <link rel="stylesheet" href="front-tools/css/gameover.css">
    <link rel="stylesheet" href="front-tools/css/gamewon.css">
    <link rel="shortcut icon" href="front-tools/images/favicon.png">
    <script type="module" src="scripts/script.js" defer></script>
    <title>Bomberman</title>
</head>

<body>
    <div class="App">
        <h1 class="lost">GAME OVER</h1>
        <h1 id="more">Your score is <a class="endScore"><span></span></a></h1>
        <h1 id="more">Want to do better? <a id="restart" href="index.html">RESTART</a></h1>
        <h1 id="more">Or give up? <a id="exit" href="homepage.html">EXIT</a></h1>
    </div>
    <div class="Won">
        <h1 id="more">You won, your score is <a class="winScore"><span></span></a></h1>
        <h1 id="more">Want to replay ? <a id="restart" href="index.html">RESTART</a></h1>
        <h1 id="more">Or leave ? <a id="exit" href="homepage.html">EXIT</a></h1>
    </div>
    <div id="pauseContainer">
        <span class='start-btn' id="CONTINUE">CONTINUE</span>
        <span class='start-btn' id="RESTART">RESTART</span>
        <span class='start-btn' id="EXIT">EXIT</span>
    </div>
    <div class="stats">
        <div class="score">
            <span></span>
        </div>
        <div class="timer">
            <span></span>
        </div>
        <div class="lives">
        </div>
    </div>
    <div class="grid" id="grid"></div>
</body>

</html>