<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="front-tools/css/homepage.css">
</head>
<body>
    <h1>START GAME</h1>
    <script>
        function RedirectionJavascript(){
          document.location.href="index.html"; 
        }
        let startGame = document.querySelector('h1')
        startGame.addEventListener("click", RedirectionJavascript)
        </script>
<!--     <script>
        
        document.body.addEventListener("click",  function(){ alert("Hello World!"); })
        //alert("hello")
    </script> -->
</body>
</html>