.Won {
    position: absolute;
    bottom: 100%;
    text-align: center;
    height: 100%;
  }


.Won.winner{
    z-index: 1000;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
    background-color: #CBC41A; 
    overflow: hidden;
    height: 100vh;
    .grid{
      display: none;
    }
}

