*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    filter: blur(25);
}
.grid {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 600px;
    align-items: center;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(15, 40px);
    /* gap: 0.5px; */
}

.cell {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 2px; 
}

.wall {
    background-color: #a19d9d;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.empty {
    background-color: green;
}
.player.bomb,
.player{
    background-image: url('../images/Bomberman.png');
    background-size: contain;
}
.bomb {
    background-image: url('../images/bomb.png');
    background-size: cover;
    animation: heartbeat 1s infinite;
} 
.brick{
    background-image: url('../images/brick.png');
    background-size: contain;
}
.onde{
    background-image: url('../images/boom.png');
    background-size: contain;
}
@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0, 0); }
}

.player.touch {
    animation: shake 0.5s ease-in-out 4;
}

@keyframes heartbeat {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }