*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    filter: blur(25);
}
.grid {
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    align-items: center;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(15, 40px);
}

.cell {
    width: 40px;
    height: 40px;
    display: inline-block;
    
}

.wall {
    background-color: #a19d9d;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.empty {
    background-color: green;
}
.player {
    background-image: url('../images/Bomberman.png');
    background-size: contain;
}