.Won {
  position: absolute;
  bottom: 100%;
  text-align: center;
  height: 100%;
}


.Won.winner {
  padding-top: 25vh;
  z-index: 1000;
  position: relative;
  bottom: 0;
  transition: bottom 0.5s;
  background: linear-gradient(45deg, #ff66b2, #66b2ff, #ffffff);
  overflow: hidden;
  height: 100vh;
}

/* .Won.winner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/won.gif);
  background-size: cover;
  opacity: 1;
  z-index: -1;
} */