* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    font-size: 30pt;
    font-family: 'Press Start 2p';
}
.grille{
    position: absolute;
    top: 50px;
    left: 28%;
}
.grid {
    width: 600px;
    align-items: center;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(15, 40px);
    z-index: 0;
}

.cell {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 2px;
}

.wall {
    background-color: #a19d9d;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.empty {
    background-color: green;
}

.player {
    will-change: transform;
    transition: top 0.2s ease, left 0.2s ease, transform 0.2s ease;
    width: 40px;
    height: 40px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bomb {
    background-image: url('../images/bomb.gif') !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.brick {
    background-image: url('../images/brick.png');
    background-size: contain;
}

.onde {
    background-image: url('../images/boom.gif');
    background-size: contain;
}

.enemy {
    will-change: transform;
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes shake {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(50%);
    }
    0%{
        transform: translateY(-50%);
    }
}

.scene{
    display: flex;
}
.imgAnime{
    position: relative;
    right: -50vw;
    top: 25vh;
    animation: shake 5s infinite ease-in-out;
}



.start-btn {
    text-align: center;
    display: table;
    margin: 5px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    color: gray;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    margin-top: 20px;

}
.start-btn:hover{
    background-color: darkgray;
    color: white;
}
.video-game-button:active,
.start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}
.pauseMenu {
    position: absolute;
    bottom: 100%;
    text-align: center;
    height: 100%;
  }
  
  
  .pauseMenu.paused {
    padding-top: 25vh;
    z-index: 1000;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
    background: linear-gradient(to bottom, #ff66b2, #66b2ff);
    overflow: hidden;
    height: 100vh;
  }
.pauseMenu.paused .actions {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    /* display: none; */
}

.App.over{
    .scene{
        display: none;
    }
}
.stats {
    position: absolute;
    top: -48px;
    display: flex;
    justify-content: space-around;
    width: 600px;
    background-color: #6b6666;
}

.lives span {
    color: red;
    margin-right: 5px;
}


.instructions {
    width: 25%;
    margin-top: 10%;
    margin-left: 20px;
    padding: 10px;
    background-color: #f3eaea;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.instructions h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.instructions p {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
}

.key {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.key img {
    width: 100px;
}